@font-face {
    font-family: 'SignPainter';
    src: url('fonds/SignPainterHouseScript.ttf') format('truetype');
}
@font-face {
    font-family: 'Pricedown';
    src: url('fonds/pricedown.ttf') format('truetype');
}

/*body {
    width: 400px;
    height: 700px;
    top: 50px;
    left: 50px;
    font-family: 'Pricedown', sans-serif;
    position: absolute;
}*/

#ganghud {
    background-color: #00000080;
    font-size: 20px;
    letter-spacing: 2px;
    top: 50px;
    right: 250px;
    width: 300px;
    height: 600px;
    border: 2px solid #ff0000;
    border-radius: 30px;
    border-color: #ff0000;
    box-shadow: 0 0 20px #ff0000;
    outline: none;
    position: relative;
    display: none; /*block oder none*/
}
#gangname {
    color: rgb(238, 255, 0, 0.9);
    font-size: 30px;
    font-family: 'SignPainter', sans-serif;
    font-weight: 600;
    text-shadow: rgb(255, 0, 0) 0 0 15px;
    top: 20px;
    left: 30px;
    position: relative;
}
#gangrang {
    color: rgba(255, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 600;
    top: 30px;
    left: 10px;
    position: relative;
    font-family: 'SignPainter', sans-serif;
    text-shadow: rgb(238, 255, 0) 0 0 13px;
}
#playername {
    color: rgba(255, 255, 255, 0.8);
    top: 50px;
    right: 120px;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    text-shadow: rgb(238, 255, 0) 0 0 1px;
}
#kontostand {
    font-family: 'SignPainter', sans-serif;
    color: rgba(39, 128, 17, 0.8);
    top: 5px;
    right: 60px;
    font-size: 20px;
    position: relative;
    outline: rgba(255, 255, 255, 0.8);
    outline-width: 1px;
    text-shadow: rgb(255, 255, 255) 0 0 0.1px;
}

#ganglogo {
    position: relative;
    opacity: 0.8;
    top: -10px;
    right: 20px;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 4mm rgb(238, 255, 0));
    z-index: 0;
}
#bgbild {
    position: relative;
    opacity: 0.25;
    top: 1px;
    left: 1px;
    width: 250px;
    height: 480px;
    border-radius: 50%;
    filter: drop-shadow(0 0 4mm rgba(173, 173, 173, 0.616));
    z-index: 0;
}

#button-container {
    display: flex;
    top: 30%;
    left: 50%;
    flex-direction: column; /* Vertikale Anordnung */
    gap: 20px; /* Abstand zwischen Buttons */
    align-items: center; /* Zentriert die Buttons horizontal */
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -0%);
}
#button-container button {
    width: 200px; /* Festgelegte Breite */
    height: 50px; /* Festgelegte Höhe */
    box-sizing: border-box; /* Border und Padding einbeziehen */
    display: flex; /* Flexbox für zentrierten Inhalt */
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center; /* Text zentrieren */
}
#member-button {
    display: block; /* Sicherstellen, dass Buttons als Block behandelt werden */
    opacity: 0.6;
    font-family: 'Pricedown', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.4);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
#member-button:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 8px 8px rgba(255, 0, 0, 0.7); /* Beispiel-Hover-Effekt */
    cursor: pointer;
}
#fahrzeuge-button {
    display: block; /* Sicherstellen, dass Buttons als Block behandelt werden */
    opacity: 0.6;
    font-family: 'Pricedown', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    box-shadow: 0px 0px 5px 5px rgba(238, 255, 0, 0.4);
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
#fahrzeuge-button:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 5px 5px rgba(238, 255, 0, 0.7);
    cursor: pointer;
}
#verwaltung-button {
    display: none; /* Sicherstellen, dass Buttons als Block behandelt werden */
    opacity: 0.6;
    font-family: 'Pricedown', sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    box-shadow: 0px 0px 5px 5px rgba(88, 202, 42, 0.4);
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
#zwei-button:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 5px 5px rgba(88, 202, 42, 0.7);
}
