@font-face {
    font-family: 'SignPainter';
    src: url('fonds/SignPainterHouseScript.ttf') format('truetype');
}
@font-face {
    font-family: 'Pricedown';
    src: url('fonds/pricedown.ttf') format('truetype');
}

body {

    background: transparent;
    font-family: 'Pricedown', sans-serif;
    overflow: hidden;
}
#hud {
    position: fixed;
    top: 20px;
    right: 10px;
    text-align: right;
    color: white;
}

#server-name-container {
    position: relative;
    margin-bottom: 20px;
}

#server-short {
    display: block;
    font-size: 60px;
    color: #000000;
    text-shadow: 1px 1px 2px rgb(255, 226, 226), 0 0 1em rgb(255, 0, 0), 0 0 0.8em rgb(255, 0, 0);
    position: absolute;
    top: 10px;
    right: 55px;
}

#server-full {
    display: block;
    font-size: 22px;
    color: #ff0000;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.8em rgb(255, 255, 255);
    position: absolute;
    top: 43px;
    right: 3px;
}

.hud-row {
    margin-bottom: 10px;
}

.hud-text {
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

#server-id {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

#player-count{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 50px;
    right: 25px;
}

#date {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    letter-spacing: 1.2px;
    top: 65px;
    right: 73px;
}

#time {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    letter-spacing: 1.2px;
    top: 65px;
    right: 15px;
}

#job-name {
    font-family: 'SignPainter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 0, 0), 0 0 0.8em rgb(255, 0, 0);
    position: fixed;
    top: 110px;
    right: 35px;
}

#job-grade {
    font-family: 'SignPainter', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 0, 0), 0 0 0.8em rgb(255, 0, 0);
    position: absolute;
    top: 107px;
    right: 10px;
    white-space: nowrap; /* Verhindert den Umbruch des Textes */
}

#speedmeter {
    font-family: 'Pricedown', sans-serif;
    font-size: 40px;
    letter-spacing: 1.4px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 0, 0), 0 0 0.8em rgb(255, 0, 0);
    position: fixed;
    bottom: 135px;
    right: 80px;
}
#kmh {
    font-family: 'Pricedown', sans-serif;
    font-size: 16px;
    letter-spacing: 1.4px;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 140px;
    right: 50px;
}

#plate-text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.7);
    position: fixed;
    bottom: 110px;
    right: 70px;
}

#fuel-container {
    position: fixed;
    bottom: 120px;
    right: 20px;
    display: flex;
    align-items: center;
}

#fuel-bar-bg {
    width: 100px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

#fuel-bar {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: width 0.2s, background-color 0.2s;
}

#fuel-icon {
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#hunger-container {
    position: fixed;
    bottom: 2px;
    left: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2px;
}

#hunger-bar-bg {
    width: 100px;
    height: 8px;
    background-color: rgba(247, 0, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#hunger-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 0, 0, 0.5);
    transition: height 0.2s, background-color 0.2s;
    position: absolute;
    right: 0;
}

#hunger-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    margin-left: 5px;
}

#thirst-container {
    position: fixed;
    bottom: 2px;
    left: 160px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2px;
}

#thirst-bar-bg {
    width: 100px;
    height: 8px;
    background-color: rgba(255, 153, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#thirst-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 0, 0, 0.5);
    transition: height 0.2s, background-color 0.2s;
    position: absolute;
    right: 0;
}

#thirst-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    margin-left: 5px;
}

#seatbelt-container {
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: flex;
    align-items: center;
}

#seatbelt-icon {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 20px;
    opacity: 0.8;
}

#health-container {
    position: fixed;
    bottom: 17px;
    left: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2px;
}

#health-bar-bg {
    width: 100px;
    height: 8px;
    background-color: rgb(255, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#health-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 85);
    transition: height 0.2s, background-color 0.2s;
    position: absolute;
    left: 0;
}

#health-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    margin-left: 5px;
}

#armour-container {
    position: fixed;
    bottom: 17px;
    left: 160px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2px;
}

#armour-bar-bg {
    width: 100px;
    height: 8px;
    background-color: rgb(255, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#armour-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 94, 163);
    transition: height 0.2s, background-color 0.2s;
    position: absolute;
    left: 0;
}

#armour-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    margin-left: 5px;
}

#stamina-container {
    position: fixed;
    bottom: 20px;
    left: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#stamina-bar-bg {
    width: 5px;
    height: 160px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#stamina-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 8, 243);
    transition: height 0.2s, background-color 0.2s;
    position: absolute;
    bottom: 0;
}

#stamina-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    margin-top: 5px;
}

#menu {
    position: fixed;
    right: 0px;
    top: 20%;
    transform: translateY(-10%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#tabs {
    display: flex;
    flex-direction: column;
}

.tab {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 2px;
    margin: 1px;
    background-color: #444444a6;
    /*border: 1px solid #222;*/
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.tab:hover,
.tab:focus {
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

.tab[data-tab="1"] { background-color: rgba(255, 0, 0, 0.7); }
.tab[data-tab="2"] { background-color: rgba(173, 216, 230, 0.7); }
.tab[data-tab="3"] { background-color: rgba(128, 0, 255, 0.7); }

.tab[data-tab="1"]:hover { box-shadow: 0 0 15px rgba(255, 0, 0, 0.9); }
.tab[data-tab="2"]:hover { box-shadow: 0 0 15px rgba(173, 216, 230, 0.9); }
.tab[data-tab="3"]:hover { box-shadow: 0 0 15px rgba(128, 0, 255, 0.9); }

#content {
    font-family: 'SignPainter', sans-serif;
    font-size: 16px;
    text-align: center;
    display: none;
    width: 200px;
    height: 350px;
    background-color: #333333b7;
    padding: 5px;
    border: 1px solid rgba(128, 0, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.menu-content {
    display: none;
}

.menu-content[data-tab="1"] h3 {
    color: red;
    font-size: 36px;
}

#server-logo {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    opacity: 0; /* Startet unsichtbar */
    transition: opacity 1s ease-in-out; /* Sanfter Übergang */
}

#server-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.6; /* Transparenz für das Bild */
}

#progressbar-container {
    position: absolute;
    top: 97.5%; /* Zentriert vertikal */
    left: 50%; /* Zentriert horizontal */
    transform: translate(-50%, -50%); /* Korrigiert die Zentrierung */
    width: 800px; /* Breite der Progressbar */
    text-align: center;
    font-family: Arial, sans-serif;
    color: white; /* Textfarbe */
    display: none; /* Standardmäßig ausgeblendet */
}

#progressbar-text {
    font-family: 'Pricedown', sans-serif;
    font-size: 30px;
    margin-bottom: 5px; /* Abstand zwischen Text und Progressbar */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7); /* Optional: leichter Schatten für bessere Lesbarkeit */
}

#progressbar-wrapper {
    height: 2px;
    /*border: 1px solid white;*/
    outline: 1px solid rgba(0, 0, 0, 0.199);
    box-sizing: border-box;
    /* REMOVE THIS LINE: overflow: hidden; */
    position: relative;
}

#progressbar-inner {
    height: 100%;
    width: 0%;
    background-color: red;
    /* Adjust these values for a stronger, larger glow */
    box-shadow: 0 0 10px 6px rgba(255, 0, 0, 0.9); /* Increased blur and spread, higher opacity */
    transition: width linear;
    position: absolute;
    left: 0;
    top: 0;
}